
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e4e4ec;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100px;
    max-width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    min-height: 90px;
    min-width: 150px;
    padding-left: 10px;
}

.header-left img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.header-left h4{
    color: #6B6B6B;
}


.header-center {
    display: flex;
    align-items: center;
    min-height: 90px;
    min-width: 150px;
}
.header-center ul{
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
.header-center li{
    color: #6B6B6B;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.header-center a{
    text-decoration: none;
    color: #6B6B6B;
}

.header-right {
    text-align: right;
    padding-right: 10px;
}

.header-right .btnMenu{
    display: none;
}

.header-right .Btn{
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #D7D7D7;
}

.header-right .Btn a{
    color: #6B6B6B;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}


@media (max-width:670px) {
    header ul li a{
        display: none;
    }
    header .Btn{
        display: none;
    }
    .header-right{
        display: flex;
        justify-content: right;
    }
    .header-right .btnMenu{
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        background-color: transparent;
        display: block;
    }
}
@media (max-width:380px){
    .header-center{
        display: none;
    }
    header{
        grid-template-columns: 1fr 1fr;    }
}




/* Esconde o menu por padrão */
.menu-dropdown {
    display: none;
    position: absolute;
    top: 100px; 
    right: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    height: 200px;
    width: 95%;
  }

  .menu-dropdown ul{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
  }
  .menu-dropdown li{
    color: #6B6B6B;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
  }
  .menu-dropdown a{
    text-decoration: none;
    color: #6B6B6B;
  }
  .menu-dropdown a:hover{
    color: #c2c2c2;
  }
  .menu-dropdown .Btn{
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #D7D7D7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-dropdown .Btn:hover{
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
}
  .menu-dropdown .Btn a{
    color: #6B6B6B;
    font-weight: 500;
  }