
.intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 75vh;
    gap: 10px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.intro-section h1 {
    margin-bottom: 10px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.intro-text, h3, p , h5{
    color: #6B6B6B;
}

p{
    font-size: 12pt;
}

.intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro-image img {
    border-radius: 10px;
}


@media (max-width: 670px) {
    .intro-image img {
        width: 300px;
        height: 230px;
    }
}
@media (max-width: 500px) {
    .intro-image img {
        width: 150px;
        height: 115px;
    }
}
@media (max-width: 400px){
    .intro-section {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 65vh;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .intro-image{
        display: none;
    }
}